.routes-group {

}

.routes-group .item {
    border:         1px solid #EEE;
    padding:        20px 30px;
    padding-bottom: 10px;
    margin-bottom:  10px;
}

.routes-group .item .label-item {
    margin-bottom: 15px;
    color:         #4BBBCE;
}

.routes-group .item .check-all {
    text-transform: uppercase;
}