@media (max-width: 1200px) {
    #topnav .navigation-menu > li > a {
        font-size: 12px;
        padding: {
            left:  12px;
            right: 12px;
        }
    }
}

@media (max-width: 992px) {
    .col-flex{
        flex: 0 0 100% !important;
    }
}