/***** TINYMCE *****/
.mce-content-body {
    padding:          15px !important;
    background-color: transparent;
}

.mce-content-body p, .mce-content-body div, .mce-content-body h1, .mce-content-body h2, .mce-content-body h3, .mce-content-body h4, .mce-content-body h5, .mce-content-body h6 {
    font-family:            Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size:              16px;
    line-height:            1.5 !important;
    color:                  #333;
    overflow-wrap:          break-word;
    word-wrap:              break-word;
    -webkit-font-smoothing: antialiased !important;
}

div.mce-fullscreen {
    z-index: 9999;
}

.mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
    -webkit-border-radius: 0;
    border-radius:         0;
    direction:             ltr;
    background:            #FFF;
    border:                1px solid #DDD;
    -webkit-box-shadow:    inset 0 1px 1px -1px rgba(0, 0, 0, .2);
    box-shadow:            inset 0 1px 1px -1px rgba(0, 0, 0, .2);
}

/***** NESTABLE *****/
.dd {
    position:    relative;
    display:     block;
    margin:      0;
    padding:     0;
    max-width:   600px;
    list-style:  none;
    font-size:   13px;
    line-height: 20px;
}

.dd-list {
    display:    block;
    position:   relative;
    margin:     0;
    padding:    0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 48px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display:     block;
    position:    relative;
    margin:      0;
    padding:     0;
    min-height:  20px;
    font-size:   13px;
    line-height: 20px;
}

.dd-item:hover {
    .dd-handle,
    .dd3-content {
        background-color: #FFF !important;
        color:            #317EEB;
    }
}

.dd-handle,
.dd3-content {
    color:           #333;
    text-decoration: none;
    text-transform:  uppercase;
    font-weight:     700 !important;
    font-size:       .8142em !important;
    border:          1px solid #EEE !important;
    border-radius:   0 !important;
    background:      #F7F7F7 !important;
}

.dd-handle {
    display:         block;
    height:          30px;
    margin-top:      8px;
    padding:         13px 16px !important;
    cursor:          move;
    box-sizing:      border-box;
    -moz-box-sizing: border-box;
}

.dd3-content {
    display:         block;
    height:          auto;
    margin-top:      8px;
    padding:         13px 16px 13px 60px;
    box-sizing:      border-box;
    -moz-box-sizing: border-box;
    position:        relative !important;
}

.dd-item > button {
    display:     block;
    position:    relative;
    cursor:      pointer;
    float:       left;
    width:       25px;
    height:      20px;
    margin-top:  16px;
    padding:     0;
    text-indent: 100%;
    white-space: nowrap;
    overflow:    hidden;
    border:      0;
    background:  transparent;
    font-size:   12px;
    line-height: 1;
    text-align:  center;
    font-weight: bold;
}

.dd-item > button:before {
    content:     '+';
    display:     block;
    position:    absolute;
    width:       100%;
    text-align:  center;
    text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin-top:      8px;
    padding:         0;
    min-height:      30px;
    background:      #FFF !important;
    border:          1px dashed #B6BCBF;
    box-sizing:      border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border:              1px dashed #BBB;
    min-height:          100px;
    background-color:    #E5E5E5;
    background-image:    -webkit-linear-gradient(45deg, #FFF 25%, transparent 25%, transparent 75%, #FFF 75%, #FFF),
                         -webkit-linear-gradient(45deg, #FFF 25%, transparent 25%, transparent 75%, #FFF 75%, #FFF);
    background-image:    -moz-linear-gradient(45deg, #FFF 25%, transparent 25%, transparent 75%, #FFF 75%, #FFF),
                         -moz-linear-gradient(45deg, #FFF 25%, transparent 25%, transparent 75%, #FFF 75%, #FFF);
    background-image:    linear-gradient(45deg, #FFF 25%, transparent 25%, transparent 75%, #FFF 75%, #FFF),
                         linear-gradient(45deg, #FFF 25%, transparent 25%, transparent 75%, #FFF 75%, #FFF);
    background-size:     60px 60px;
    background-position: 0 0, 30px 30px;
    display:             none;
}

.dd-dragel {
    position:       absolute;
    pointer-events: none;
    z-index:        9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position:                   absolute;
    margin:                     0;
    left:                       0;
    top:                        0;
    cursor:                     move;
    text-indent:                100%;
    white-space:                nowrap;
    overflow:                   hidden;
    border:                     1px solid #CCC;
    background:                 #F3F3F3 !important;
    padding:                    13px 16px;
    width:                      48px;
    height:                     48px !important;
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
    z-index:                    999;
}

.dd3-handle:before {
    content:     "\f0c9";
    font-family: FontAwesome;
    display:     block;
    position:    absolute;
    left:        0;
    top:         50%;
    width:       100%;
    text-align:  center;
    text-indent: 0;
    color:       #888;
    font-size:   14px;
    font-weight: normal;
    transform:   translate(0, -50%);
}

.dd3-handle:hover {
    background: #404040;
    border:     1px solid #404040;
}

/***** DATATABLE *****/
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    border: {
        top:    0;
        bottom: 0;
    }
}