.menu-dd .card-body {
    border:           1px solid #EEE;
    border-top:       0;
    background-color: #FFF;
    box-shadow:       none;
    border-radius:    0 !important;
}

.menu-dd .btn-collapse {
    width:            25px;
    height:           25px;
    line-height:      25px;
    text-align:       center;
    border-radius:    50%;
    background-color: #FFF;
    position:         absolute !important;
    top:              50%;
    right:            10px;
    transform:        translate(0, -50%);
}